.ingress, .rcps-ingress {font-size:1.125em;color:#666;}
blockquote p {font-size:1.25em;line-height:1.2;font-weight:400;color:#999;font-style:italic;}
hr {border:0;height:0;border-top:10px solid #f2f2f2;}